main {
	font-size: 0;
	padding: 30px;
}

.container {
	max-width: 800px;
	margin: 100px auto 0px auto;
	font-size: 0;
}

.green, .blue, .grey, .black, .orange {
	height: 200px;
	width: 400px;
	margin: 0 auto;
	border: solid black 1px;
	display: inline-block;
	font-size: 0;
}

.grey, .black, .orange {
	height: 300px;
	width: 33.33%;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.grey {
	background-color: grey;
	clear: both;
}

.black {
	background: black;
}

.orange {
	background-color: orange;
}
